.default-layout
  width: 100%
  min-width: 330px
  max-width: 1400px
  min-height: 100vh
  padding: #{$spacing-md}px #{$spacing-lg}px
  display: flex
  flex-flow: column nowrap
  background-color: $color-gray-0
